<!-- <a href="./biblioteca.html" rel="noopener noreferrer">index</a> путь вставить на -->
<!-- bibliotek -->
<header class="header header__home">
  <a href="./js/AutoForm/form.html" class="custom-btn btn-A">>Autorisation</a>
  <div class="container">
    <div class="header__container">
      <a href="./index.html" class="logo-link">
        <svg
          class="subscribe-form__icon rotate-vert-center"
          width="24"
          height="24"
        >
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo-text tracking-in-expand">Filmoteka</span></a
      >
      <nav class="navigation">
        <ul class="nav-list">
          <li class="nav-item active__page">
            <a
              href="#"
              rel="noopener noreferrer"
              data-lang="home"
              class="nav-btn home__btn"
              type="button"
            >
              home
            </a>
          </li>

          <li class="nav-item" data-auth="false">
            <a
              href="./biblioteca.html"
              rel="noopener noreferrer"
              data-lang="library"
              class="nav-btn library__btn js-auth"
            >
              my library
            </a>
          </li>
        </ul>
      </nav>
      <div class="switch-btn"></div>
    </div>

    <form class="search-form js-form">
      <input
        data-lang="placeholder"
        class="input-form"
        type="text"
        name="searchQuery"
        placeholder="Movie search"
      />
      <button class="submit-btn" type="submit">
        <svg class="menu__icon" width="12" height="12">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <!-- <p class="header__text-error visually-hidden">
            Search result not successful. Enter the correct movie name.
        </p> -->

    <!-- placeholder="Movie search"
      /> -->
    <!-- <button class="submit-btn" type="submit">
        <svg class="menu__icon" width="12" height="12">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form> -->

    <!-- <p class="header__text-error visually-hidden">
      Search result not successful. Enter the correct movie name.
    </p> -->
  </div>
</header>
