<header class="header library__header">
  <div class="container">
    <div class="header__container">
      <a href="./biblioteca.html" rel="noopener noreferrer" class="logo-link">
        <svg class="subscribe-form__icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo-text tracking-in-expand">Filmoteka</span></a
      >
      <nav class="navigation">
        <ul class="nav-list">
          <li class="nav-item">
            <a
              href="./index.html"
              rel="noopener noreferrer"
              data-lang="home"
              class="nav-btn home__btn"
              >home home
            </a>
          </li>
          <li class="nav-item">
            <a
              href="#"
              rel="noopener noreferrer"
              data-lang="library"
              class="nav-btn library__btn active__page"
              type="button"
            >
              my library
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="library__btn--wrapper">
      <button
        data-lang="watchedB"
        type="button"
        class="library__header--btn wached watched selected"
      >
        Watched
      </button>
      <button
        data-lang="queue "
        type="button"
        class="library__header--btn queue"
      >
        queue
      </button>
    </div>
  </div>
</header>
