<!-- <a href="./index.html" rel="noopener noreferrer">home</a> путь вставить на Home -->
<header class="header library__header">
  <div class="container">
    <div class="header__container">
      <a href="./index.html" class="logo-link">
        <svg
          class="subscribe-form__icon rotate-vert-center"
          width="24"
          height="24"
        >
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo-text tracking-in-expand">Filmoteka</span></a
      >
      <nav class="navigation">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="./index.html" rel="noopener noreferrer" class="nav-btn"
              >home</a
            >
            <!-- <button data-lang="home" class="nav-btn home__btn" type="button">
                            home
                        </button> -->
          </li>
          <li class="nav-item nav-btn library__btn active__page">
            my library
            <!-- <button data-lang="library" class="nav-btn library__btn active__page " type="button">
                            my library
                        </button> -->
          </li>
        </ul>
      </nav>
      <div class="switch-btn"></div>
    </div>
    <div class="library__btn--wrapper">
      <button
        data-lang="watched"
        type="button"
        class="library__header--btn wached watched"
      >
        Watched
      </button>
      <button
        data-lang="queued"
        type="button"
        class="library__header--btn queue"
      >
        queue
      </button>
    </div>
  </div>
</header>
