.pagination-wrap {
  position: relative;
}
.pagination__list {
  margin-right: auto;
  margin-left: auto;
display: flex;
gap: 2px;
justify-content: space-evenly;
max-width:374px;
}
.pagination__button {
  border-radius: 5px;
  border: 0px;
  background-color: var(--text-color-light);
  color: var(--text-color-light-grey);
  cursor: pointer;
  // width:30px;
}

.pagination__button:hover{
color: var(--text-color-black);

text-shadow: 0px 1px 2px #000;
}

.current {
  // flex-grow:0;
  width:40px;
  height: 40px;
  flex-basis: 40px;
  pointer-events: none;
  background-color: var(--text-color-light-orange);
  color:var(--text-color-light);
}
.arrow {
  // flex-grow: 0;
  width: 40px;
  height: 40px;
  flex-basis: 40px;
  background-color: var(--bg-color-light-grey);
}
.no-active {
  pointer-events: none;
  color: var(--text-color-light-grey);
}
