.remove {

    border: 2px solid #ff6b01;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    transition: all .2s;
    text-transform: uppercase;
    color: #ff6b01;
    background-color: initial;
    &:hover {
            color: var(--text-color-light);
            text-transform: uppercase;
            background: var(--bg-color-modal-orange);
            outline: none;
        }
}

.remove:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px #ff6b01;
}

.remove:hover:after {
    transform: scaleX(1.4) scaleY(1.6);
}

.removeQ {
    border: 2px solid #ff6b01;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    transition: all .2s;
    text-transform: uppercase;
    // color: #000;
    // background-color: #ff6b01;
    color: #ff6b01;
    background-color: initial;
    outline: none;
}

.removeQ:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px #ff6b01;
}

.removeQ:hover:after {
    transform: scaleX(1.4) scaleY(1.6);

}

.modal__watchV.remove,
.modal__queV.removeQ {
    font-family: Roboto, sans-serif;
    font-size: 12 px;
    font-weight: 500;
    line-height: 1.33;
}