@import './variable.scss';
@import './common';
@import './base';
@import './mixin.scss';
@import './header.scss';
@import './gallery';
@import './galleryPagination';
@import './components/footer.scss';
@import './modal-footer';
@import '../sass/modal.scss';
@import '../sass/scrollbar';

