:root {
     /* Шрифти */
    --main-fonts: 'Roboto', sans-serif;
    // --secondary-fonts: 'Titan One', sans-serif;
    /* Кольори фону */
    --bg-color-light-grey: #F7F7F7;//+
    --bg-color-modal-orange: #FF6B01;//+
    /* Кольори шрифтів */
    --text-color-light: #ffffff; //+
    --text-color-light-orange: #FF6B08;//+
    --text-color-black: #000000;//+
    --text-color-red: #FF001B;//+
    --text-color-grey: #545454;//+
    --text-color-light-grey: #8C8C8C;//+
    /* Інші кольори */

}