<!-- Модальное окно -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="button-close" type="button" data-modal-close>
      <svg class="button-close__close-icon" width="18px" height="18px">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <div class="container team-container">
      <h2 class="title team-container__title">Team</h2>
      <ul class="list team-list">
        <li class="team-list__item">
          <img
            class="team-list__image"
            src="./images/members/member-1.jpg"
            alt="Улыбающийся мужчина в очках"
            width="270"
            height="260"
          />
          <div class="team-list__worker-info">
            <h3 class="title team-list__title">Dyma Voitovych</h3>
            <p lang="en" class="team-list__text">Teamlead</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="thumb">
            <img
              class="team-list__image"
              src="./images/members/serhii.jpg"
              alt="Man"
              width="270"
              height="260"
            />
          </div>
          <div class="team-list__worker-info">
            <h3 lang="ua" class="title team-list__title">
              Стадник<br />
              Сергій
            </h3>
            <p lang="en" class="team-list__text">Developer</p>
          </div>
        </li>
        <li class="team-list__item">
          <img
            class="team-list__image"
            src="./images/members/member-1.jpg"
            alt="Улыбающийся мужчина"
            width="270"
            height="260"
          />
          <div class="team-list__worker-info">
            <h3 class="title team-list__title">Oksana</h3>
            <p lang="en" class="team-list__text">Developer</p>
          </div>
        </li>
        <li class="team-list__item">
          <img
            class="team-list__image"
            src="./images/members/member-4.jpg"
            alt="Серьезный мужчина в очках"
            width="270"
            height="260"
          />
          <div class="team-list__worker-info">
            <h3 class="title team-list__title">Valery Chumak</h3>
            <p lang="en" class="team-list__text">Developer</p>
          </div>
        </li>
        <li class="team-list__item">
          <img
            class="team-list__image"
            src="./images/members/member-1.jpg"
            alt="Улыбающийся мужчина в очках"
            width="270"
            height="260"
          />
          <div class="team-list__worker-info">
            <h3 class="title team-list__title">Myroslava</h3>
            <p lang="en" class="team-list__text">Developer</p>
          </div>
        </li>
        <li class="team-list__item">
          <img
            class="team-list__image"
            src="./images/members/member-2.jpg"
            alt="Женщина в очках"
            width="270"
            height="260"
          />
          <div class="team-list__worker-info">
            <h3 class="title team-list__title">Roman Matsiuk</h3>
            <p lang="en" class="team-list__text">Developer</p>
          </div>
        </li>
        <li class="team-list__item">
          <img
            class="team-list__image"
            src="./images/members/member-3.jpg"
            alt="Улыбающийся мужчина"
            width="270"
            height="260"
          />
          <div class="team-list__worker-info">
            <h3 class="title team-list__title">Nikita Zelenyak</h3>
            <p lang="en" class="team-list__text">Developer</p>
          </div>
        </li>
        <li class="team-list__item">
          <img
            class="team-list__image"
            src="./images/members/member-4.jpg"
            alt="Серьезный мужчина в очках"
            width="270"
            height="260"
          />
          <div class="team-list__worker-info">
            <h3 class="title team-list__title">tsebik</h3>
            <p lang="en" class="team-list__text">Developer</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script src="./js/modal/modalFooterClose.js"></script>
