<!-- Модальное окно -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="button-close" type="button" data-modal-close>
      <svg class="button-close__close-icon" width="18px" height="18px">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <div class="container team-container">
      <h2 class="title team-container__title">Team</h2>
      <ul class="list team-list">
        <li class="team-list__item">
          <div class="thumb">
            <img
              class="team-list__image"
              src="./images/members/dima.jpg"
              alt="Man"
              width="270"
              height="260"
            />
          </div>
          <div class="team-list__worker-info">
            <svg class="star-icon" width="18px" height="18px">
              <use href="./images/star.svg#star"></use>
            </svg>
            <h3 class="title team-list__title">
              Дмитро<br />
              Войтович
            </h3>
            <p lang="en" class="team-list__text">Teamlead</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="thumb">
            <img
              class="team-list__image"
              src="./images/members/oksana.jpg"
              alt="Woman"
              width="270"
              height="260"
            />
          </div>
          <div class="team-list__worker-info">
            <svg class="star-icon" width="18px" height="18px">
              <use href="./images/star.svg#star"></use>
            </svg>
            <h3 class="title team-list__title">Оксана<br />Дика</h3>
            <p lang="en" class="team-list__text">Scrum Master</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="thumb">
            <img
              class="team-list__image"
              src="./images/members/nikita.jpg"
              alt="Man"
              width="270"
              height="260"
            />
          </div>
          <div class="team-list__worker-info">
            <h3 class="title team-list__title">
              Микита<br />
              Зеленяк
            </h3>
            <p lang="en" class="team-list__text">Developer</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="thumb">
            <img
              class="team-list__image"
              src="./images/members/serhii.jpg"
              alt="Man"
              width="270"
              height="260"
            />
          </div>
          <div class="team-list__worker-info">
            <h3 lang="ua" class="title team-list__title">
              Стадник<br />
              Сергій
            </h3>
            <p lang="en" class="team-list__text">Developer</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="thumb">
            <img
              class="team-list__image"
              src="./images/members/valery.jpg"
              alt="Woman"
              width="270"
              height="260"
            />
          </div>
          <div class="team-list__worker-info">
            <h3 class="title team-list__title">
              Валерія <br />
              Чумак
            </h3>
            <p lang="en" class="team-list__text">Developer</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="thumb">
            <img
              class="team-list__image"
              src="./images/members/myroslava.jpg"
              alt="Woman"
              width="270"
              height="260"
            />
          </div>
          <div class="team-list__worker-info">
            <h3 class="title team-list__title">
              Мирослава<br />
              Василенко
            </h3>
            <p lang="en" class="team-list__text">Developer</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="thumb">
            <img
              class="team-list__image"
              src="./images/members/roman.png"
              alt="Женщина в очках"
              width="270"
              height="260"
            />
          </div>
          <div class="team-list__worker-info">
            <h3 class="title team-list__title">
              Роман <br />
              Мацюк
            </h3>
            <p lang="en" class="team-list__text">Developer</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="thumb">
            <img
              class="team-list__image"
              src="./images/members/tsebik.png"
              alt="Серьезный мужчина в очках"
              width="270"
              height="260"
            />
          </div>
          <div class="team-list__worker-info">
            <h3 class="title team-list__title">
              Дмитро<br />
              Цебинога
            </h3>
            <p lang="en" class="team-list__text">Developer</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="thumb">
            <img
              class="team-list__image"
              src="./images/members/myhailo.jpg"
              alt="Man"
              width="270"
              height="260"
            />
          </div>
          <div class="team-list__worker-info">
            <h3 class="title team-list__title">
              Михайло<br />
              Мандзюк
            </h3>
            <p lang="en" class="team-list__text">Developer</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script type="module" src="./js/modal/modalFooterClose.js"></script>
