<!-- <div class="modal-pagination is-hidden" modal-pagination>
  <button class="close closeV'" modal-pagination-close type="button">
    <svg width="11px" height="11px">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <form class="form">
    <div class="form__div">
      <h3 class="form__name">Перехід на іншу сторінку</h3>
      <ul class="form__list">
        <li class="form__item">
          <label for="name" class="form__label"
            >Введіть номер сторінки для переходу</label
          >
          <span class="form__span">
            <input
              type="text"
              name="name"
              id="pagination-input"
              class="form__input"
          /></span>
        </li>
      </ul>
    </div>
    <ul class="form_list">
      <button type="submit" class="button_ok">Надіслати</button>
      <button type="submit" class="button_no" modal-pagination-close>
        Скасувати
      </button>
    </ul>
  </form>
</div> -->
​
<!-- </div> -->
