<footer class="footer">
    <ul class="footer-block">
        <li class="footer__items">
            &#xA9
        </li>
        <li class="footer__items">
            <script>
                document.write(new Date().getFullYear());
            </script>
        </li>
        <li class="footer__items">All Rights Reserved</li>
        <li class="footer__items">Developed with</li>
        <li class="footer__items">
            <img src="./images/heart.svg" class="footer__haert" width="14" height="12.88"/>
        </li >
        <li class="footer__items">by <a class="footer__items--ref">GoIT Students</a></li>
    </ul>
</footer>