

.modal-pagination {
position: absolute;

  background-color: var(--bg-color-light-grey);
  border-radius: 4px;
  width: 400px;
  height: 230px;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  padding: 15px 15px;
  @media screen and (max-width: 480px) {
     max-width: 420px;
  }
}


// .form__div {
//   padding-left: 10px;
// }

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid var(--text-color-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--bg-color-light-grey);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:hover,
.close:focus {
  border: 1px solid var(--bg-color-modal-orange);
}
.close:hover svg,
.close:focus svg {
  fill: var(--bg-color-modal-orange);
}

​.modal__close {
  fill: var(--bg-color-modal-orange);
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

​.form {
  width: 100%;
  height: 100%;
}

.form__name {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color-black);
}

​ .form__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form__item:not(:last-child) {
  margin-bottom: 10px;
}

.form__span {
  position: relative;
}
.form__label {
  padding-left: 10px;
  text-align: left;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color-grey);
  margin-top: 15px;
  margin-bottom: 4px;
}

.form__input {

  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;

  width:100%;
  height: 40px;
}

@media screen and (min-width: 1200px) {
  .form__input {
    width: 350px;
    height: 40px;
  }
}

.form__input:hover,
.form__input:focus {
  fill: var(--bg-color-modal-orange);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__input:focus {
  border: 1px solid var(--bg-color-modal-orange);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.button-pagination {
  padding: 8px 8px 8px;
  background: var(--bg-color-modal-orange);
  color: var(--bg-color-light-grey);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button_no {
  font-size: 14px;
}
.form_list {
  display: flex;
  justify-content: center;
}

.button_ok {
  margin-right: 20px;


}
.button-pagination:hover, .button-pagination:focus {
  transform: translateY(-1px);
    box-shadow: 0 5px 10px var(--bg-color-modal-orange);
    transform: scaleX(1.4) scaleY(1.6);
}

