.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color :#F7F7F7 ;
    opacity: 0;
    // transition: opacity 350ms;

       
    @media screen and (mix-width: 1200px) {
        min-width: 1200px;
        height: 77px;
      }
  
      @media screen and (min-width: 768px) {
        min-width:768px;
        height: 79px;
        }
        
}

.footer-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #545454;
    min-width: 320px;
   
    @media screen and (mix-width: 1200px) {
        min-width: 1200px;
      }
  
      @media screen and (min-width: 768px) {
        min-width:768px;
        }
}

.footer__items{
    margin-left: 5px;
    margin-right: 5px;
    &:nth-child(3){
        margin:0;
        padding-left: 5px;
        padding-right: 5px;
        border-left: 1.5px solid #545454;
        border-right: 1.5px solid #545454;
    }
}

.footer__haert {
    fill: rgb(255, 107, 8);
}

.footer__items--ref{
    text-decoration: underline;
    cursor: pointer;
    
    -webkit-animation: mymove 3s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 3s infinite;


/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    30% {box-shadow: 0px 15px 15px rgba(255, 170, 114, 1);}
}

@keyframes mymove {
    30% {box-shadow: 0px 15px 15px rgba(255, 170, 114, 1);}
}


}